In [1]:
import pandas as pd
from mlxtend import frequent_patterns
from mlxtend import preprocessing

order_id : 주문번호
quantity : 주문에 포함된 아이템의 수량
item_name : 주문한 아이템 이름
choice_description : 아이템에 대한 선택옵션
item_price : 아이템 가격

In [2]:
df = pd.read_csv('./chipotle.csv')
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# 가격의 $제거하기

In [3]:
import re
import warnings
warnings.filterwarnings('ignore')

In [4]:
num = 0
for i in df['item_price']:
#     print(i)
    df['item_price'][num] = re.sub(pattern='[$]', repl= "", string=i)
    #pattern = '[$]' : $기호를 찾을 정규식 패턴, [] 문자집합
    #repl = "" : 찾은 패턴을 빈 문자열로 대체
    #string = i : item_price 열의 값
    num += 1

df

#lambda를 이용해 $를 제거하는 방법
df['item_price'] = df['item_price'].apply(lambda x : x.strip(" "))
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [5]:
df['item_price'][0]
# df.info()

'2.39'

In [6]:
df.info() #item_price가 아직 object타입
df['item_price'] = df['item_price'].astype(float)
df.info() #item_price -> float로 변경

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [7]:
df['item_price'].sum()
#총 매출액

34500.16

In [8]:
df.isnull()
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [9]:
#결측치 제거
df['choice_description'] = df['choice_description'].fillna('default')
df
df.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

In [16]:
df['choice_description']
num = 0
for i  in  df['choice_description']:
    df['choice_description'][num] = re.sub(pattern='[^a-zA-Z,]',repl='', string=i)
    num += 1
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,default,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,default,2.39
4,2,2,Chicken Bowl,"TomatilloRedChiliSalsaHot,BlackBeans,Rice,Chee...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"FreshTomatoSalsa,Rice,BlackBeans,SourCream,Che...",11.75
4618,1833,1,Steak Burrito,"FreshTomatoSalsa,Rice,SourCream,Cheese,Lettuce...",11.75
4619,1834,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,G...",11.25
4620,1834,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,Lettuce",8.75
4621,1834,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,L...",8.75

# 정규표현식 연습

In [10]:
text = "Cat dog 1234 Python python PY .py .ipynb"

In [15]:
#모든 숫자 찾기
numbers = re.findall(r'\d+', text)
#r : Raw String 접두사, 이스케이프 시퀀스를 해석하지 않고 그대로 문자열 인식하는것을 의미

print(numbers)

numbers = re.sub(r'\d', 'num', text)
print(numbers)

#대소문자를 모두 소문자로 변환
text1 = re.sub('[A-Z]+', lambda x: x.group().lower(), text)
#lambda x: x.group().lower()
#x.group() : 매칭 객체의 문자열 값을 반환하는 메소드
print(text1)

#Cat을 Dog로 대체(대소문자 무시)
text2 = re.sub('CAt', 'Dog', text, flags=re.IGNORECASE)
# Cat Cat 1234 Python python PY .py .ipynb
print(text2)

['1234']
Cat dog numnumnumnum Python python PY .py .ipynb
cat dog 1234 python python py .py .ipynb
Dog dog 1234 Python python PY .py .ipynb

In [17]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,default,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,default,2.39
4,2,2,Chicken Bowl,"TomatilloRedChiliSalsaHot,BlackBeans,Rice,Chee...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"FreshTomatoSalsa,Rice,BlackBeans,SourCream,Che...",11.75
4618,1833,1,Steak Burrito,"FreshTomatoSalsa,Rice,SourCream,Cheese,Lettuce...",11.75
4619,1834,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,G...",11.25
4620,1834,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,Lettuce",8.75
4621,1834,1,Chicken Salad Bowl,"FreshTomatoSalsa,FajitaVegetables,PintoBeans,L...",8.75

# 데이터 전처리계속

In [25]:
result = df.groupby(['item_name', 'choice_description']).value_counts()
result #시리즈 타입

#시리즈의 인덱스 리스트로 변환해서 temp_index 저장
#시리즈의 값들을 리스트로 변환해서 temp_values 저장
temp_index = result.index.tolist()
temp_values = result.values.tolist()
# temp_values

#시리즈를 데이터 프레임으로 변환 to_frame()
result = result.to_frame()
result

#item_name, choice_description 열의 값과 해당 그룹의 값의 개수가 열로 포함되어 출력

                                                                                                   count
item_name         choice_description                                 order_id quantity item_price
6 Pack Soft Drink Coke                                               154      1        6.49            1
                                                                     776      1        6.49            1
                                                                     1443     1        6.49            1
                                                                     1373     1        6.49            1
                                                                     1076     1        6.49            1
...                                                                                                  ...
Veggie Soft Tacos FreshTomatoSalsaMild,BlackBeans,Rice,Cheese,Let... 1559     2        16.98           1
                  FreshTomatoSalsaMild,PintoBeans,Rice,Cheese,Sou... 567      1        8.49            1
                  RoastedChiliCornSalsa,FajitaVegetables,BlackBea... 948      1        8.75            1
                  RoastedChiliCornSalsaMedium,BlackBeans,FajitaVe... 1132     1        8.49            1
                  TomatilloRedChiliSalsa,FajitaVegetables,Rice,Bl... 304      1        11.25           1

[4563 rows x 1 columns]

In [ ]:
# 시각화
import matplotlib.pyplot as plt
plt.figure(gigsize=(30,10))
x = df['item_name']
y = df['quantity']
plt.bar(x,y)
plt.xtic

In [26]:
#중복된 아이템 제거하고 판매량 합계 계산
# print(df.groupby('item_name')['quantity'].sum())

#가장 많이 팔린 메뉴 10개 추출 시각화(막대그래프)
top_item = df.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(10)
top_item

#판다스의 nlargest()함수(가장 큰값을 가지는 아이템추출)
top_item1 = df.groupby('item_name')['quantity'].sum().nlargest(10)
print(top_item1)

plt.figure(figsize = (10, 6))
top_item.plot(kind="bar")
plt.ylabel('quantity')
plt.show()

item_name
Chicken Bowl                    761
Chicken Burrito                 591
Chips and Guacamole             506
Steak Burrito                   386
Canned Soft Drink               351
Chips                           230
Steak Bowl                      221
Bottled Water                   211
Chips and Fresh Tomato Salsa    130
Canned Soda                     126
Name: quantity, dtype: int64

NameError: name 'plt' is not defined

In [27]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [31]:
df_grouped = df.groupby(['order_id', 'item_name'])['quantity'].sum().unstack().reset_index()
df_grouped

#데이터 전처리, 판매량이 1이상인경우 1로 변경
df_group = df_grouped.applymap(lambda x : 1 if x >= 1 else 0)
df_group

#Apriori 알고리즘을 사용하여 연관규칙 학습
frequent = apriori(df_group.drop('order_id', axis=1), min_support=0.01, use_colnames=True)
frequent

#연관규칙 추출
rules = association_rules(frequent, metric='lift', min_threshold = 1.0)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(6 Pack Soft Drink),(Chicken Burrito),0.029444,0.266630,0.010360,0.351852,1.319624,0.002509,1.131485,0.249556
1,(Chicken Burrito),(6 Pack Soft Drink),0.266630,0.029444,0.010360,0.038855,1.319624,0.002509,1.009791,0.330268
2,(Chips and Guacamole),(6 Pack Soft Drink),0.258451,0.029444,0.011450,0.044304,1.504688,0.003841,1.015549,0.452311
3,(6 Pack Soft Drink),(Chips and Guacamole),0.029444,0.258451,0.011450,0.388889,1.504688,0.003841,1.213443,0.345586
4,(Chicken Bowl),(Bottled Water),0.335333,0.083969,0.037623,0.112195,1.336142,0.009465,1.031793,0.378500
5,(Bottled Water),(Chicken Bowl),0.083969,0.335333,0.037623,0.448052,1.336142,0.009465,1.204221,0.274638
6,(Chips),(Bottled Water),0.113413,0.083969,0.019084,0.168269,2.003934,0.009561,1.101355,0.565068
7,(Bottled Water),(Chips),0.083969,0.113413,0.019084,0.227273,2.003934,0.009561,1.147347,0.546905
8,(Bottled Water),(Steak Bowl),0.083969,0.102508,0.014177,0.168831,1.647002,0.005569,1.079795,0.428846
9,(Steak Bowl),(Bottled Water),0.102508,0.083969,0.014177,0.138298,1.647002,0.005569,1.063048,0.437704
10,(Canned Soda),(Steak Burrito),0.051254,0.186478,0.019629,0.382979,2.053751,0.010071,1.318467,0.540805
11,(Steak Burrito),(Canned Soda),0.186478,0.051254,0.019629,0.105263,2.053751,0.010071,1.060363,0.630697
12,(Chicken Bowl),(Canned Soft Drink),0.335333,0.150491,0.060523,0.180488,1.199328,0.010059,1.036604,0.250050
13,(Canned Soft Drink),(Chicken Bowl),0.150491,0.335333,0.060523,0.402174,1.199328,0.010059,1.111807,0.195642
14,(Canned Soft Drink),(Chicken Soft Tacos),0.150491,0.058342,0.011450,0.076087,1.304145,0.002670,1.019206,0.274528
15,(Chicken Soft Tacos),(Canned Soft Drink),0.058342,0.150491,0.011450,0.196262,1.304145,0.002670,1.056948,0.247663
16,(Chips),(Canned Soft Drink),0.113413,0.150491,0.031625,0.278846,1.852912,0.014557,1.177986,0.519192
17,(Canned Soft Drink),(Chips),0.150491,0.113413,0.031625,0.210145,1.852912,0.014557,1.122468,0.541853
18,(Chips),(Chicken Bowl),0.113413,0.335333,0.066521,0.586538,1.749124,0.028490,1.607568,0.483072
19,(Chicken Bowl),(Chips),0.335333,0.113413,0.066521,0.198374,1.749124,0.028490,1.105985,0.644360
20,(Chicken Bowl),(Chips and Tomatillo Red Chili Salsa),0.335333,0.025082,0.015812,0.047154,1.880028,0.007402,1.023165,0.704252
21,(Chips and Tomatillo Red Chili Salsa),(Chicken Bowl),0.025082,0.335333,0.015812,0.630435,1.880028,0.007402,1.798512,0.480136
22,(Chips and Guacamole),(Chicken Soft Tacos),0.258451,0.058342,0.017448,0.067511,1.157143,0.002370,1.009832,0.183134
23,(Chicken Soft Tacos),(Chips and Guacamole),0.058342,0.258451,0.017448,0.299065,1.157143,0.002370,1.057943,0.144217
24,(Steak Burrito),(Chicken Soft Tacos),0.186478,0.058342,0.013086,0.070175,1.202820,0.002207,1.012726,0.207272
25,(Chicken Soft Tacos),(Steak Burrito),0.058342,0.186478,0.013086,0.224299,1.202820,0.002207,1.048758,0.179068
26,(Chips),(Steak Bowl),0.113413,0.102508,0.015267,0.134615,1.313216,0.003641,1.037102,0.269021
27,(Steak Bowl),(Chips),0.102508,0.113413,0.015267,0.148936,1.313216,0.003641,1.041739,0.265752
28,(Chips and Fresh Tomato Salsa),(Steak Burrito),0.059978,0.186478,0.015267,0.254545,1.365019,0.004083,1.091310,0.284471
29,(Steak Burrito),(Chips and Fresh Tomato Salsa),0.186478,0.059978,0.015267,0.081871,1.365019,0.004083,1.023845,0.328705
30,(Chips and Guacamole),(Steak Bowl),0.258451,0.102508,0.028899,0.111814,1.090785,0.002405,1.010478,0.112236
31,(Steak Bowl),(Chips and Guacamole),0.102508,0.258451,0.028899,0.281915,1.090785,0.002405,1.032675,0.092735
32,(Chips and Guacamole),(Veggie Bowl),0.258451,0.044711,0.014722,0.056962,1.274004,0.003166,1.012991,0.290033
33,(Veggie Bowl),(Chips and Guacamole),0.044711,0.258451,0.014722,0.329268,1.274004,0.003166,1.105581,0.225140
34,(Veggie Burrito),(Chips and Guacamole),0.049618,0.258451,0.016903,0.340659,1.318079,0.004079,1.124682,0.253919
35,(Chips and Guacamole),(Veggie Burrito),0.258451,0.049618,0.016903,0.065401,1.318079,0.004079,1.016887,0.325427
36,"(Chips, Chicken Bowl)",(Bottled Water),0.066521,0.083969,0.015267,0.229508,2.733234,0.009681,1.188891,0.679322
37,"(Chips, Bottled Water)",(Chicken Bowl),0.019084,0.335333,0.015267,0.800000,2.385691,0.008868,3.323337,0.592135
38,"(Chicken Bowl, Bottled Water)",(Chips),0.037623,0.113413,0.015267,0.405797,3.578038,0.011000,1.492061,0.748685
39,(Chips),"(Chicken Bowl, Bottled Water)",0.113413,0.037623,0.015267,0.134615,3.578038,0.011000,1.112080,0.812687
40,(Chicken Bowl),"(Chips, Bottled Water)",0.335333,0.019084,0.015267,0.045528,2.385691,0.008868,1.027706,0.873872
41,(Bottled Water),"(Chips, Chicken Bowl)",0.083969,0.066521,0.015267,0.181818,2.733234,0.009681,1.140918,0.692262
42,"(Chips, Chicken Bowl)",(Canned Soft Drink),0.066521,0.150491,0.019084,0.286885,1.906332,0.009073,1.191266,0.509312
43,"(Chips, Canned Soft Drink)",(Chicken Bowl),0.031625,0.335333,0.019084,0.603448,1.799551,0.008479,1.676118,0.458816
44,"(Chicken Bowl, Canned Soft Drink)",(Chips),0.060523,0.113413,0.019084,0.315315,2.780232,0.012220,1.294883,0.681569
45,(Chips),"(Chicken Bowl, Canned Soft Drink)",0.113413,0.060523,0.019084,0.168269,2.780232,0.012220,1.129544,0.722228
46,(Chicken Bowl),"(Chips, Canned Soft Drink)",0.335333,0.031625,0.019084,0.056911,1.799551,0.008479,1.026812,0.668464
47,(Canned Soft Drink),"(Chips, Chicken Bowl)",0.150491,0.066521,0.019084,0.126812,1.906332,0.009073,1.069046,0.559655
48,"(Chicken Bowl, Chips and Guacamole)",(Canned Soft Drink),0.081243,0.150491,0.012541,0.154362,1.025727,0.000315,1.004578,0.027300
49,"(Canned Soft Drink, Chips and Guacamole)",(Chicken Bowl),0.033806,0.335333,0.012541,0.370968,1.106268,0.001205,1.056651,0.099421
50,(Chicken Bowl),"(Canned Soft Drink, Chips and Guacamole)",0.335333,0.033806,0.012541,0.037398,1.106268,0.001205,1.003732,0.144523
51,(Canned Soft Drink),"(Chicken Bowl, Chips and Guacamole)",0.150491,0.081243,0.012541,0.083333,1.025727,0.000315,1.002280,0.029525