In [2]:
import numpy as np
import pandas as pd

# 1. 유클리드 거리

In [1]:
def euclidean(a, b):
    distance = 0
    for i in range(len(a)):
        distance += (a[i] - b[i]) ** 2
    return distance ** 0.5

a = [1, 2, 3, 4, 5]
b = [2, 3, 6, 9, 15]

print(f"유클리드 거리 : {euclidean(a, b)}")

유클리드 거리 : 11.661903789690601

In [7]:
def euclidean1(c, d):
    return np.sqrt(np.sum((c-d)**2))

c = np.array([1, 2, 3, 4, 5])
d = np.array([2, 3, 6, 9, 15])

print(f"넘파이이용 : {euclidean1(c, d)}")

넘파이이용 : 11.661903789690601

# 2. 맨하탄 거리

In [9]:
def manhattan(a, b):
    distance = 0
    for i in range(len(a)):
        distance += abs(a[i] - b[i])
    return distance

print(f"맨하탄 거리 : {manhattan(a, b)}")

맨하탄 거리 : 20

In [10]:
def manhattan1(c, d):
    return np.sum(np.abs(c - d))

print(f"맨하탄 거리 : {manhattan1(c, d)}")

맨하탄 거리 : 20

# 맨해튼 거리

In [11]:
def chebyshev(a, b):
    distance = 0
    for i in range(len(a)):
        distance = max(distance, abs(a[i] - b[i]))
    return distance

print(f"맨해튼 거리 : {chebyshev(a, b)}")

맨해튼 거리 : 10

In [12]:
def chebyshev1(c, d):
    return np.max(np.abs(c-d))

print(f"넘파이 이용 : {chebyshev1(c, d)}")

넘파이 이용 : 10

# 미스테이로비치 거리

In [18]:
def minkowski(a, b, p):
    distance = 0
    for i in range(len(a)):
        distance += abs(a[i] - b[i]) ** p
    return distance ** (1/p)

p = 1 #2 : 유클리드 거리, 1 : 맨하탄거리
print(f"미스테이로비치 거리 : {minkowski(a, b, p)}")

미스테이로비치 거리 : 20.0

In [19]:
def minkowski1(c, d, p):
    return np.power(np.sum(np.abs(c - d) ** p), 1/p)

p = 1
print(f"넘파이이용 : {minkowski1(c, d, p)}")

넘파이이용 : 20.0