# 1. 레이블인코딩(Label Encoding)

In [1]:
from sklearn.preprocessing import LabelEncoder

In [2]:
color = ['red', 'green', 'blue', 'black', 'pink', 'red', 'blue']
print(color, type(color))

['red', 'green', 'blue', 'black', 'pink', 'red', 'blue'] <class 'list'>

In [4]:
#LabelEncode 생성, 적용
le = LabelEncoder()
le

le_color = le.fit_transform(color)
print(color)
print(f"레이블 인코딩 후 값 : {le_color}")

['red', 'green', 'blue', 'black', 'pink', 'red', 'blue']
레이블 인코딩 후 값 : [4 2 1 0 3 4 1]

In [5]:
c = ['a', 'c', 'b', 'd']
le = LabelEncoder()
le
le_c =le.fit_transform(c)
print(c)
print(le_c)

['a', 'c', 'b', 'd']
[0 2 1 3]

# 2) 원-핫 인코딩(One-Hot Encoder)

In [7]:
#데이터프레임
import pandas as pd

data = {'color':['red', 'green', 'blue', 'black', 'red', 'green']}

df = pd.DataFrame(data)
df

   color
0    red
1  green
2   blue
3  black
4    red
5  green

In [9]:
#원-핫 인코딩 적용
oh = pd.get_dummies(df, columns=['color'])
oh

   color_black  color_blue  color_green  color_red
0        False       False        False       True
1        False       False         True      False
2        False        True        False      False
3         True       False        False      False
4        False       False        False       True
5        False       False         True      False