#1. 주피터 노트북 사용하기

In [1]:
#코드셀 입력 공간
#파란색일 때는 명령모드, 초록색일 때 입력(편집)모드

1+2
10-2
#코랩과 동일하게 미리보기 기능이 있다
#코드셀을 실행하면 앞에 몇번 실행했는지 숫자가 나온다

3

In [3]:
import numpy as np

arr = np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [1]:

1+1

2

#1. 주피터 노트북 사용

In [8]:
import numpy as np

arr = np.array([1,2,3,4,5])
print(arr)
print(arr.shape)

print(np.mean(arr))

#배열의 최대값, 최소값 출력
print(np.min(arr), np.max(arr))

[1 2 3 4 5]
(5,)
3.0
1 5

In [20]:
import pandas as pd


data = {'이름' : ["짱구","철수","유리","훈이","치타","맹구"],
        '나이' : [10,14,15,11,18,19],
        '성적' : [90,85,93,100, 20,35 ] }

df = pd.DataFrame(data) 

df

# 성적 평균 계산
#방법1) numpy의 mean() 사용
avg1 = np.mean(df['성적'])
print(avg1)

#방법2) pandas의 Series의 mean() 사용
avg2 = df['성적'].mean()
print(avg2)

#방법3) 직접 계산(sum() / len())
avg3 = sum(df['성적']) / len(df['성적'])
print(avg3)

# 나이가 15살 이상인 학생들 출력(데이터 프레임으로)
#방법1) 불리언 인덱싱 사용
age1 = df[df['나이']>= 15]
print(age1)

#방법2) loc 메소드 사용
age2 = df.loc[df['나이']>= 15]
print(age2)

#방법3) query 메소드 사용
age3 = df.query('나이 >= 15')
print(age3)

70.5
70.5
70.5
   이름  나이  성적
2  유리  15  93
4  치타  18  20
5  맹구  19  35
   이름  나이  성적
2  유리  15  93
4  치타  18  20
5  맹구  19  35
   이름  나이  성적
2  유리  15  93
4  치타  18  20
5  맹구  19  35